SET SERVEROUTPUT ON
/
/
/
BEGIN
	EXECUTE IMMEDIATE 'DROP TABLE ENVIRONMENT CASCADE CONSTRAINTS ';
EXCEPTION
	WHEN OTHERS THEN
		IF SQLCODE != -942 THEN
			RAISE;
		END IF;
END;
/
CREATE TABLE ENVIRONMENT
(
	ID NUMERIC (38,0) NOT NULL 
	,WHICHENVIRONMENT VARCHAR2 (3) CONSTRAINT CK_ENVIRONMENT410 CHECK ( WHICHENVIRONMENT IN ( 'DIT','SIT','UAT','PAT','PRD','ALL')) ENABLE
	,CONSTRAINT PK_ENVIRONMENT18 PRIMARY KEY 
	(
		ID
	) ENABLE

) SEGMENT CREATION IMMEDIATE 
/

COMMENT ON COLUMN ENVIRONMENT.ID IS 'Primary Key';
COMMENT ON COLUMN ENVIRONMENT.WHICHENVIRONMENT IS 'Enviroment of Schema';
/
CREATE TABLE ENVIRONMENT_1 AS  SELECT * FROM ENVIRONMENT
/
