BEGIN
	FOR REC IN ( SELECT 1 FROM USER_OBJECTS WHERE OBJECT_NAME IN ( 'T_ENVIRONMENT' ) )
	LOOP
			EXECUTE IMMEDIATE 'DROP TYPE T_ENVIRONMENT FORCE;
		DBMS_OUTPUT.PUT_LINE ('TYPE T_ENVIRONMENT DROPPED');
	END LOOP;
END;
/
DROP TYPE O_ENVIRONMENT FORCE
/
CREATE OR REPLACE TYPE O_ENVIRONMENT UNDER O_BASEENVIRONMENT 
(
	--{CHILD_VARIABLES}
	CONSTRUCTOR FUNCTION O_ENVIRONMENT
RETURN SELF AS RESULT
	,CONSTRUCTOR FUNCTION O_ENVIRONMENT
	(
		id VARCHAR2
	) RETURN SELF AS RESULT
	,CONSTRUCTOR FUNCTION O_ENVIRONMENT
	(
		id VARCHAR2
		,status VARCHAR2
	) RETURN SELF AS RESULT

	,CONSTRUCTOR FUNCTION O_ENVIRONMENT
	(
		whichEnvironment VARCHAR2
	) RETURN SELF AS RESULT

)
/
CREATE OR REPLACE TYPE BODY O_ENVIRONMENT AS 
    --{LOCALE}	
	CONSTRUCTOR FUNCTION O_ENVIRONMENT
    RETURN SELF AS RESULT
    AS
    BEGIN
        RETURN;
    END;	
	CONSTRUCTOR FUNCTION O_ENVIRONMENT
    (
        id VARCHAR2
    ) RETURN SELF AS RESULT
    AS
    BEGIN
        SELF.id   := id ;
        RETURN;
    END;
    CONSTRUCTOR FUNCTION O_ENVIRONMENT
    (
        id 	VARCHAR2
		,status		VARCHAR2	
    ) RETURN SELF AS RESULT
    AS
    BEGIN
        SELF.id   		:= id ;
		SELF.status   	:= status ;
        RETURN;
    END;
    CONSTRUCTOR FUNCTION O_ENVIRONMENT
    (
		whichEnvironment VARCHAR2
    ) RETURN SELF AS RESULT
    AS
    BEGIN
		SELF.whichEnvironment := whichEnvironment;
        RETURN;
    END;
	
/*
	 CONSTRUCTOR FUNCTION O_ENVIRONMENT
    (
		whichEnvironment VARCHAR2
		--{CHILD_PARAMETERS}
    ) RETURN SELF AS RESULT
    AS
    BEGIN
		SELF.whichEnvironment := whichEnvironment;
		--{CHILD_BODY_PARAMETERS}
        RETURN;
    END;
*/	
END;
/
/
CREATE OR REPLACE TYPE T_ENVIRONMENT AS TABLE OF O_ENVIRONMENT
/
