BEGIN
	FOR REC IN ( SELECT 1 FROM USER_OBJECTS WHERE OBJECT_NAME IN ( 'T_REFERENCEDATA' ) )
	LOOP
			EXECUTE IMMEDIATE 'DROP TYPE T_REFERENCEDATA FORCE;'
		DBMS_OUTPUT.PUT_LINE ('TYPE T_REFERENCEDATA DROPPED');
	END LOOP;
END;
/
DROP TYPE O_REFERENCEDATA FORCE
/
DROP TYPE O_BASEREFERENCEDATA FORCE
/
CREATE OR REPLACE TYPE O_BASEREFERENCEDATA AS OBJECT
(	
	id VARCHAR2 (32),
	shortDescription VARCHAR2 (500),
	longDescription VARCHAR2 (2000),
	referenceDatacode VARCHAR2 (500),
	key01 VARCHAR2 (500),
	key02 VARCHAR2 (500),
	key03 VARCHAR2 (500),
	key04 VARCHAR2 (500),
	value01 VARCHAR2 (2000),
	value02 VARCHAR2 (2000),
	value03 VARCHAR2 (2000),
	value04 VARCHAR2 (2000),
	value05 VARCHAR2 (2000),
	value06 VARCHAR2 (2000),
	status VARCHAR2 (20),
	startDate DATE,
	endDate DATE,
	environment VARCHAR2 (3),
	category VARCHAR2 (100),
	isDefault VARCHAR2 (5)
) NOT FINAL
/
