SET SERVEROUTPUT ON
/
/
/
BEGIN
	EXECUTE IMMEDIATE 'DROP TABLE REFERENCEDATA CASCADE CONSTRAINTS ';
EXCEPTION
	WHEN OTHERS THEN
		IF SQLCODE != -942 THEN
			RAISE;
		END IF;
END;
/
CREATE TABLE REFERENCEDATA
(
	ID NUMERIC (38,0) NOT NULL 
	,UUID VARCHAR2 (32) NOT NULL 
	,CONSTRAINT UK_REFERENCEDATA48 UNIQUE 
	(
		UUID
	) ENABLE
	,SHORTDESCRIPTION VARCHAR2 (500)
	,LONGDESCRIPTION VARCHAR2 (2000)
	,REFERENCEDATACODE VARCHAR2 (500) NOT NULL 
	,KEY01 VARCHAR2 (500)
	,KEY02 VARCHAR2 (500)
	,KEY03 VARCHAR2 (500)
	,KEY04 VARCHAR2 (500)
	,VALUE01 VARCHAR2 (2000)
	,VALUE02 VARCHAR2 (2000)
	,VALUE03 VARCHAR2 (2000)
	,VALUE04 VARCHAR2 (2000)
	,VALUE05 VARCHAR2 (2000)
	,VALUE06 VARCHAR2 (2000)
	,STATUS VARCHAR2 (20) CONSTRAINT CK_REFERENCEDATA1810 CHECK ( STATUS IN ( 'ACTIVE','INACTIVE','DELETED','CANCELLED','EXPIRED')) ENABLE
	,STARTDATE DATE
	,ENDDATE DATE
	,ENVIRONMENT VARCHAR2 (3) DEFAULT 'ALL' CONSTRAINT CK_REFERENCEDATA2110 CHECK ( ENVIRONMENT IN ( 'DIT','SIT','UAT','PRD','ALL')) ENABLE
	,CATEGORY VARCHAR2 (100)
	,ISDEFAULT VARCHAR2 (5) DEFAULT 'False' CONSTRAINT CK_REFERENCEDATA2310 CHECK ( ISDEFAULT IN ( 'TRUE','FALSE')) ENABLE
	,CREATED_ON TIMESTAMP (6)
	,CREATED_BY VARCHAR2 (20)
	,MODIFIED_ON TIMESTAMP (6)
	,MODIFIED_BY VARCHAR2 (20)
	,CONSTRAINT PK_REFERENCEDATA19 PRIMARY KEY 
	(
		ID
	) ENABLE

) SEGMENT CREATION IMMEDIATE 
/

COMMENT ON COLUMN REFERENCEDATA.ID IS 'Primary Key';
COMMENT ON COLUMN REFERENCEDATA.UUID IS 'Unique identifier for the object.';
COMMENT ON COLUMN REFERENCEDATA.SHORTDESCRIPTION IS 'Short Description of reference code';
COMMENT ON COLUMN REFERENCEDATA.LONGDESCRIPTION IS 'Long Description of reference code';
COMMENT ON COLUMN REFERENCEDATA.REFERENCEDATACODE IS 'Reference Data Code';
COMMENT ON COLUMN REFERENCEDATA.KEY01 IS '1st key to query';
COMMENT ON COLUMN REFERENCEDATA.KEY02 IS '2nd key to query';
COMMENT ON COLUMN REFERENCEDATA.KEY03 IS '3rd key to query';
COMMENT ON COLUMN REFERENCEDATA.KEY04 IS '4th key to query';
COMMENT ON COLUMN REFERENCEDATA.VALUE01 IS '1st value';
COMMENT ON COLUMN REFERENCEDATA.VALUE02 IS '2nd value';
COMMENT ON COLUMN REFERENCEDATA.VALUE03 IS '3rd value';
COMMENT ON COLUMN REFERENCEDATA.VALUE04 IS '4th value';
COMMENT ON COLUMN REFERENCEDATA.VALUE05 IS '5th value';
COMMENT ON COLUMN REFERENCEDATA.VALUE06 IS '6th value';
COMMENT ON COLUMN REFERENCEDATA.STATUS IS 'Status of this object';
COMMENT ON COLUMN REFERENCEDATA.STARTDATE IS 'Start Date of program';
COMMENT ON COLUMN REFERENCEDATA.ENDDATE IS 'End Date of program';
COMMENT ON COLUMN REFERENCEDATA.ENVIRONMENT IS 'Environment where value is applicable';
COMMENT ON COLUMN REFERENCEDATA.CATEGORY IS 'Category of reference data code';
COMMENT ON COLUMN REFERENCEDATA.ISDEFAULT IS 'Is default value,incase of hierarchical set of values';
COMMENT ON COLUMN REFERENCEDATA.CREATED_ON IS 'Date on which record is inserted in';
COMMENT ON COLUMN REFERENCEDATA.CREATED_BY IS 'User by which created the record';
COMMENT ON COLUMN REFERENCEDATA.MODIFIED_ON IS 'Date on which record is modified in';
COMMENT ON COLUMN REFERENCEDATA.MODIFIED_BY IS 'User by which modified the record';
/
CREATE TABLE REFERENCEDATA_1 AS  SELECT * FROM REFERENCEDATA
/
