CREATE OR REPLACE PROCEDURE REFERENCEDATA_ADDUPD_V1
(
	REFERENCEDATA			IN O_REFERENCEDATA
	,LOCALEHEADER 			IN O_LOCALEHEADER
	,PAGINATIONANDSORTING	IN O_PAGINATIONANDSORTING	
	,RESPONSES_REFERENCEDATA	OUT NOCOPY T_REFERENCEDATA
)
AS
V_REFERENCEDATA_ID  		VARCHAR2(32 BYTE);
V_REFERENCEDATA  		O_REFERENCEDATA;
V_PAGINATIONANDSORTING	O_PAGINATIONANDSORTING;
BEGIN

	V_REFERENCEDATA  := REFERENCEDATA;

    /**
        If fields apart from ID/MasterId are null,then we cannot move ahead with update/insert
        Just query the data and return
    **/
	
    IF
    NOT
    (
        (
            
			V_REFERENCEDATA.REFERENCEDATACODE IS NOT NULL OR
			V_REFERENCEDATA.KEY01 IS NOT NULL OR
			V_REFERENCEDATA.KEY02 IS NOT NULL OR
			V_REFERENCEDATA.KEY03 IS NOT NULL OR
			V_REFERENCEDATA.KEY04 IS NOT NULL OR
			V_REFERENCEDATA.STATUS IS NOT NULL OR
			V_REFERENCEDATA.ENVIRONMENT IS NOT NULL OR
			V_REFERENCEDATA.CATEGORY IS NOT NULL 
        )
    )    
    THEN
        
		REFERENCEDATA_INQ
		(
			REFERENCEDATA			=> V_REFERENCEDATA
			,LOCALEHEADER 			=> REFERENCEDATA_ADDUPD_V1.LOCALEHEADER
			,PAGINATIONANDSORTING	=> REFERENCEDATA_ADDUPD_V1.PAGINATIONANDSORTING
			,RESPONSES_REFERENCEDATA	=> REFERENCEDATA_ADDUPD_V1.RESPONSES_REFERENCEDATA
			,RESPONSE_PAGINATIONANDSORTING => V_PAGINATIONANDSORTING
		);

		RETURN;
    END IF;
	
    V_REFERENCEDATA_ID  := CAPTUREUUID.SaveUUID(V_REFERENCEDATA.ID); 
	
	MERGE INTO REFERENCEDATA E
	USING
	(
		SELECT
		--CAPTUREUUID.SaveUUID(V_REFERENCEDATA.ID) AS ID
		V_REFERENCEDATA_ID AS ID
		,V_REFERENCEDATA.referenceDatacode AS REFERENCEDATACODE
		,V_REFERENCEDATA.key01 AS KEY01
		,V_REFERENCEDATA.key02 AS KEY02
		,V_REFERENCEDATA.key03 AS KEY03
		,V_REFERENCEDATA.key04 AS KEY04
		,V_REFERENCEDATA.status AS STATUS
		,V_REFERENCEDATA.environment AS ENVIRONMENT
		,V_REFERENCEDATA.category AS CATEGORY
		FROM 
		DUAL

	)A
	ON 
	(
		(
			A.ID IS NULL
			OR	
			E.UUID = A.ID	-- Change to relevant field
		)
		AND
		(
			A.REFERENCEDATACODE IS NULL
			OR
			E.REFERENCEDATACODE = A.REFERENCEDATACODE
		)
AND
		(
			A.KEY01 IS NULL
			OR
			E.KEY01 = A.KEY01
		)
AND
		(
			A.KEY02 IS NULL
			OR
			E.KEY02 = A.KEY02
		)
AND
		(
			A.KEY03 IS NULL
			OR
			E.KEY03 = A.KEY03
		)
AND
		(
			A.KEY04 IS NULL
			OR
			E.KEY04 = A.KEY04
		)
AND
		(
			A.STATUS IS NULL
			OR
			E.STATUS = A.STATUS
		)
AND
		(
			A.ENVIRONMENT IS NULL
			OR
			E.ENVIRONMENT = A.ENVIRONMENT
		)
AND
		(
			A.CATEGORY IS NULL
			OR
			E.CATEGORY = A.CATEGORY
		)
	)			
	WHEN MATCHED
	THEN 
	UPDATE
		SET
			VALUE01 = NVL(V_REFERENCEDATA.value01,VALUE01)
			,VALUE02 = NVL(V_REFERENCEDATA.value02,VALUE02)
			,VALUE03 = NVL(V_REFERENCEDATA.value03,VALUE03)
			,VALUE04 = NVL(V_REFERENCEDATA.value04,VALUE04)
			,VALUE05 = NVL(V_REFERENCEDATA.value05,VALUE05)
			,VALUE06 = NVL(V_REFERENCEDATA.value06,VALUE06)
			,STARTDATE = NVL(V_REFERENCEDATA.startDate,STARTDATE)
			,ENDDATE = NVL(V_REFERENCEDATA.endDate,ENDDATE)
			,ISDEFAULT = NVL(V_REFERENCEDATA.isDefault,ISDEFAULT)
			,CREATED_ON= NVL(NULL,CREATED_ON)
			,CREATED_BY= NVL(NULL,CREATED_BY)
			,MODIFIED_ON= NVL(LOCALTIMESTAMP,MODIFIED_ON)
			,MODIFIED_BY= NVL(NULL,MODIFIED_BY)        
	WHEN NOT MATCHED
	THEN 
	INSERT
	(
		ID
				,UUID
				,SHORTDESCRIPTION
				,LONGDESCRIPTION
				,REFERENCEDATACODE
				,KEY01
				,KEY02
				,KEY03
				,KEY04
				,VALUE01
				,VALUE02
				,VALUE03
				,VALUE04
				,VALUE05
				,VALUE06
				,STATUS
				,STARTDATE
				,ENDDATE
				,ENVIRONMENT
				,CATEGORY
				,ISDEFAULT
				,CREATED_ON
				,CREATED_BY
				,MODIFIED_ON
				,MODIFIED_BY     
	)
	VALUES
	(
			GETSEQVAL('REFERENCEDATA_SEQ')
			,CAPTUREUUID.SaveUUID(SYS_GUID)
			,V_REFERENCEDATA.shortDescription
			,V_REFERENCEDATA.longDescription
			,V_REFERENCEDATA.referenceDatacode
			,V_REFERENCEDATA.key01
			,V_REFERENCEDATA.key02
			,V_REFERENCEDATA.key03
			,V_REFERENCEDATA.key04
			,V_REFERENCEDATA.value01
			,V_REFERENCEDATA.value02
			,V_REFERENCEDATA.value03
			,V_REFERENCEDATA.value04
			,V_REFERENCEDATA.value05
			,V_REFERENCEDATA.value06
			,V_REFERENCEDATA.status
			,V_REFERENCEDATA.startDate
			,V_REFERENCEDATA.endDate
			,V_REFERENCEDATA.environment
			,V_REFERENCEDATA.category
			,V_REFERENCEDATA.isDefault
			,LOCALTIMESTAMP
			,NULL
			,NULL
			,NULL
	)
	;

    COMMIT;
	
	V_REFERENCEDATA.ID := V_REFERENCEDATA_ID;--CAPTUREUUID.GetUUID;
	
	--Call the main stored procedure 
	REFERENCEDATA_INQ
	(
		REFERENCEDATA			=> V_REFERENCEDATA
		,LOCALEHEADER 			=> REFERENCEDATA_ADDUPD_V1.LOCALEHEADER
		,PAGINATIONANDSORTING	=> REFERENCEDATA_ADDUPD_V1.PAGINATIONANDSORTING
		,RESPONSES_REFERENCEDATA	=> REFERENCEDATA_ADDUPD_V1.RESPONSES_REFERENCEDATA
		,RESPONSE_PAGINATIONANDSORTING => V_PAGINATIONANDSORTING
	);

	RETURN;
END;

/
