CREATE OR REPLACE PROCEDURE REFERENCEDATA_INQ
(
	REFERENCEDATA	IN O_REFERENCEDATA
	,LOCALEHEADER	IN O_LOCALEHEADER
	,PAGINATIONANDSORTING	IN O_PAGINATIONANDSORTING
	,RESPONSES_REFERENCEDATA	OUT NOCOPY T_REFERENCEDATA
	,RESPONSE_PAGINATIONANDSORTING	OUT NOCOPY O_PAGINATIONANDSORTING
)
AS
BEGIN
	REFERENCEDATA_INQ_V1
	(
		REFERENCEDATA => REFERENCEDATA_INQ.REFERENCEDATA
		,LOCALEHEADER => REFERENCEDATA_INQ.LOCALEHEADER
		,PAGINATIONANDSORTING => REFERENCEDATA_INQ.PAGINATIONANDSORTING
		,RESPONSES_REFERENCEDATA => REFERENCEDATA_INQ.RESPONSES_REFERENCEDATA
		,RESPONSE_PAGINATIONANDSORTING => REFERENCEDATA_INQ.RESPONSE_PAGINATIONANDSORTING
	);
	RETURN;
END;
/
