CREATE OR REPLACE PROCEDURE ENVIRONMENT_ADDUPD_V1
(
	ENVIRONMENT			IN O_ENVIRONMENT
	,LOCALEHEADER 			IN O_LOCALEHEADER
	,PAGINATIONANDSORTING	IN O_PAGINATIONANDSORTING	
	,RESPONSES_ENVIRONMENT	OUT NOCOPY T_ENVIRONMENT
)
AS
V_ENVIRONMENT_ID  		VARCHAR2(32 BYTE);
V_ENVIRONMENT  		O_ENVIRONMENT;
V_PAGINATIONANDSORTING	O_PAGINATIONANDSORTING;
BEGIN

	V_ENVIRONMENT  := ENVIRONMENT;

    /**
        If fields apart from ID/MasterId are null,then we cannot move ahead with update/insert
        Just query the data and return
    **/
	
    IF
    NOT
    (
        (
            
			V_ENVIRONMENT.WHICHENVIRONMENT IS NOT NULL 
        )
    )    
    THEN
        
		ENVIRONMENT_INQ
		(
			ENVIRONMENT			=> V_ENVIRONMENT
			,LOCALEHEADER 			=> ENVIRONMENT_ADDUPD_V1.LOCALEHEADER
			,PAGINATIONANDSORTING	=> ENVIRONMENT_ADDUPD_V1.PAGINATIONANDSORTING
			,RESPONSES_ENVIRONMENT	=> ENVIRONMENT_ADDUPD_V1.RESPONSES_ENVIRONMENT
			,RESPONSE_PAGINATIONANDSORTING => V_PAGINATIONANDSORTING
		);

		RETURN;
    END IF;
	
    V_ENVIRONMENT_ID  := CAPTUREUUID.SaveUUID(V_ENVIRONMENT.ID); 
	
	MERGE INTO ENVIRONMENT E
	USING
	(
		SELECT
		--CAPTUREUUID.SaveUUID(V_ENVIRONMENT.ID) AS ID
		V_ENVIRONMENT_ID AS ID
		,V_ENVIRONMENT.whichEnvironment AS WHICHENVIRONMENT
		FROM 
		DUAL

	)A
	ON 
	(
		(
			A.ID IS NULL
			OR	
			E.UUID = A.ID	-- Change to relevant field
		)
		AND
		(
			A.WHICHENVIRONMENT IS NULL
			OR
			E.WHICHENVIRONMENT = A.WHICHENVIRONMENT
		)
	)			
	WHEN MATCHED
	THEN 
	UPDATE
		SET
			        
	WHEN NOT MATCHED
	THEN 
	INSERT
	(
		ID
				,WHICHENVIRONMENT     
	)
	VALUES
	(
			GETSEQVAL('ENVIRONMENT_SEQ')
		,V_ENVIRONMENT.whichEnvironment
	)
	;

    COMMIT;
	
	V_ENVIRONMENT.ID := V_ENVIRONMENT_ID;--CAPTUREUUID.GetUUID;
	
	--Call the main stored procedure 
	ENVIRONMENT_INQ
	(
		ENVIRONMENT			=> V_ENVIRONMENT
		,LOCALEHEADER 			=> ENVIRONMENT_ADDUPD_V1.LOCALEHEADER
		,PAGINATIONANDSORTING	=> ENVIRONMENT_ADDUPD_V1.PAGINATIONANDSORTING
		,RESPONSES_ENVIRONMENT	=> ENVIRONMENT_ADDUPD_V1.RESPONSES_ENVIRONMENT
		,RESPONSE_PAGINATIONANDSORTING => V_PAGINATIONANDSORTING
	);

	RETURN;
END;

/
