CREATE OR REPLACE PROCEDURE ENVIRONMENT_ADDUPD
(
	ENVIRONMENT	IN O_ENVIRONMENT
	,LOCALEHEADER 	IN O_LOCALEHEADER
	,PAGINATIONANDSORTING	IN O_PAGINATIONANDSORTING				
	,RESPONSES_ENVIRONMENT	OUT NOCOPY T_ENVIRONMENT
)
AS
V_REQ_ENVIRONMENT 		O_ENVIRONMENT;
BEGIN

	ENVIRONMENT_PREADDUPD
	(
		ENVIRONMENT	 	=> ENVIRONMENT
		,LOCALEHEADER 		=> LOCALEHEADER		
        ,REQ_ENVIRONMENT 	=> V_REQ_ENVIRONMENT	
	);
	
	ENVIRONMENT_ADDUPD_V1
	(
		ENVIRONMENT	 	=> V_REQ_ENVIRONMENT	
		,LOCALEHEADER 		=> LOCALEHEADER		
		,PAGINATIONANDSORTING	=> PAGINATIONANDSORTING
		,RESPONSES_ENVIRONMENT	=> ENVIRONMENT_ADDUPD.RESPONSES_ENVIRONMENT
	);
	
	ENVIRONMENT_POSTADDUPD
	(
		ENVIRONMENT		=> V_REQ_ENVIRONMENT	
		,LOCALEHEADER 		=> LOCALEHEADER		
		,RESPONSES_ENVIRONMENT	 => RESPONSES_ENVIRONMENT
	);
	
	COMMIT;
	
	RETURN;
END;
/

/
