CREATE OR REPLACE PROCEDURE ENVIRONMENT_INQ_V1
(
	ENVIRONMENT			IN O_ENVIRONMENT
	,LOCALEHEADER 			IN O_LOCALEHEADER
	,PAGINATIONANDSORTING	IN O_PAGINATIONANDSORTING
	,RESPONSES_ENVIRONMENT			OUT NOCOPY T_ENVIRONMENT
	,RESPONSE_PAGINATIONANDSORTING 	OUT O_PAGINATIONANDSORTING
)
AS
V_RESPONSE  		T_ENVIRONMENT;
V_CURRENTPAGE    	NUMBER;
V_STARTINGROWNUMBER NUMBER;
V_ENDINGROWNUMBER   NUMBER;
V_RECORDSPERPAGE   	NUMBER;
V_TOTALRECORDSASFOUND   NUMBER;
V_TOTALPAGES        NUMBER;
V_TOTALRECORDS    	T_TOTALRECORDS ;
C_NUMBEROFROWSRETURNEDBYDEFAULT	NUMBER; 
BEGIN

    C_NUMBEROFROWSRETURNEDBYDEFAULT := GET_NUMBEROFROWTOBESRETURNED('ENVIRONMENT_INQ');
	V_RECORDSPERPAGE	:= NVL(PAGINATIONANDSORTING.RECORDSPERPAGE,C_NUMBEROFROWSRETURNEDBYDEFAULT);
    V_STARTINGROWNUMBER := ( V_RECORDSPERPAGE * ( NVL(PAGINATIONANDSORTING.NEXTPAGE,1) - 1 ) );
    V_ENDINGROWNUMBER   := ( V_RECORDSPERPAGE * ( NVL(PAGINATIONANDSORTING.NEXTPAGE,1) ) );
    
    V_CURRENTPAGE		:= NVL(PAGINATIONANDSORTING.NEXTPAGE,1);	

    SELECT
    O_ENVIRONMENT
    (	
		whichEnvironment => A.WHICHENVIRONMENT  
    )
    ,
    A.TOTALRECORDS   
    BULK COLLECT INTO V_RESPONSE , V_TOTALRECORDS
    FROM
    (
        SELECT
        F.*
        FROM
        (
            SELECT 
            T.*, 
            ROWNUM R
            FROM 
            (  
				SELECT
				COUNT(1) OVER ( ORDER BY 1 RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING ) TOTALRECORDS
				,ID
				,WHICHENVIRONMENT   
				FROM
				V_ENVIRONMENT A
				WHERE
				(
					ENVIRONMENT.ID IS NULL 
					OR
					A.UUID = ENVIRONMENT.ID 
				)
					
				AND
				(
					ENVIRONMENT.WHICHENVIRONMENT IS NULL
					OR
					A.WHICHENVIRONMENT = ENVIRONMENT.WHICHENVIRONMENT
				)
				AND
				(
					ENVIRONMENT.ID IS NOT NULL OR
					ENVIRONMENT.WHICHENVIRONMENT IS NOT NULL 
				)	
					--{ADDITIONAL_LOCALE_WHERE_CONDITIONS}
				/**
				If there are more Id,then they can be used in select query - to do worked upon in subsequent iteration
				*/
            )T
            WHERE ROWNUM  <= V_ENDINGROWNUMBER
        )F    
        WHERE R >= V_STARTINGROWNUMBER 			
    )A
    ;
  
    V_TOTALRECORDSASFOUND   := CASE WHEN ( V_TOTALRECORDS.COUNT > 0 )THEN ( V_TOTALRECORDS(1) ) ELSE V_TOTALRECORDS.COUNT END;
    V_TOTALPAGES            := CASE WHEN ( V_TOTALRECORDSASFOUND > 0 )THEN (  CEIL(V_TOTALRECORDSASFOUND / V_RECORDSPERPAGE) ) ELSE 0 END;

    RESPONSE_PAGINATIONANDSORTING   := 
    O_PAGINATIONANDSORTING
    (
        currentPage => V_CURRENTPAGE
        ,previousPage => CASE WHEN ( V_CURRENTPAGE > 0 )THEN ( V_CURRENTPAGE -1 ) ELSE 0 END
        ,nextPage => CASE WHEN ( ( V_CURRENTPAGE + 1 ) >  V_TOTALPAGES ) THEN ( V_CURRENTPAGE )  ELSE ( V_CURRENTPAGE ) + 1 END    
        ,recordsPerPage => CASE WHEN ( V_RECORDSPERPAGE > V_TOTALRECORDSASFOUND )  THEN ( V_TOTALRECORDSASFOUND )  ELSE ( V_RECORDSPERPAGE ) END    
        ,totalPages => V_TOTALPAGES
        ,totalRecords => V_TOTALRECORDSASFOUND
    );
	
    RESPONSES_ENVIRONMENT    := V_RESPONSE;
	RETURN;
END;

/
